@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Custom font */
  --font-scienceGothic: "Science Gothic", sans-serif;

  /* Colors */
  --color-softWhite: #fdf0d5;
  --color-baseRed: #c1121f;
  --color-lightRed: #d90429;
  --color-darkRed: #780000;
  --color-lightBlue: #669bbc;
  --color-deepBlue: #003049;
  --color-darkBlue: #0a122a;
  --color-lightGreen: #2a9d8f;
  --color-baseGreen: #38b000;
  --color-softGreen: #008000;
  --color-darkGreen: #006d77;
  --color-darkGray: #343a40;
  --color-softGray: #d3d4d9;
  --color-lightGray: #495057;
  --color-baseOrange: #f35b04;
  --color-lightOrange: #f18701;
  --color-basePurple: #3d348b;
  --color-lightPurple: #7678ed;
}

/* Custom scrollbar for modal */
.modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-darkBlue) transparent;
}

/* Animations (general) */
@keyframes slideDown {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(3rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animations (modal) */
@keyframes modalSlideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-contentWrapper {
  animation: modalSlideDown 0.5s ease-in-out forwards;
}

/* Animations (hint) */
.hint-contentWrapper {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animations (Home page) */
.homePage-h2 {
  animation: slideDown 0.5s ease-in-out forwards;
}

.homePage-btn {
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

.homePage-leftLink {
  animation: slideInLeft 0.5s ease-in-out 1s forwards;
}

.homePage-rightLink {
  animation: slideInRight 0.5s ease-in-out 1s forwards;
}

.homePage-bottomLink {
  animation: fadeIn 0.5s ease-in-out 1.5s forwards;
}

/* Animations (Story Player page) */
.storyPlayerPage-contentWrapper {
  animation: slideDown 0.5s ease-in-out forwards;
}

/* Animations (Story Editor page) */
.storyEditorPage-contentWrapper {
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animations (About page) */
.aboutPage-contentWrapper {
  animation: slideDown 0.5s ease-in-out forwards;
}

/* Animations (Story diagram) */
.storyDiagram-contentWrapper {
  animation: modalSlideDown 0.5s ease-in-out forwards;
}

.storyDiagram-btnMenu {
  animation: fadeIn 0.5s ease-in-out forwards;
}
