@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-scienceGothic: "Science Gothic", sans-serif;
  --color-softWhite: #fdf0d5;
  --color-baseRed: #c1121f;
  --color-lightRed: #d90429;
  --color-darkRed: #780000;
  --color-lightBlue: #669bbc;
  --color-deepBlue: #003049;
  --color-darkBlue: #0a122a;
  --color-lightGreen: #2a9d8f;
  --color-baseGreen: #38b000;
  --color-softGreen: #008000;
  --color-darkGreen: #006d77;
  --color-darkGray: #343a40;
  --color-softGray: #d3d4d9;
  --color-lightGray: #495057;
  --color-baseOrange: #f35b04;
  --color-lightOrange: #f18701;
  --color-basePurple: #3d348b;
  --color-lightPurple: #7678ed;
}
